.image {
    /* position: relative; */
    overflow: hidden;
    display: block;
    width: 12rem;
    height: 16rem;
    border-radius: 8px;
}

.image-movie {
    width: 12rem;
    height: 16rem;
}

.wrap-card{
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, rgb(85, 85, 85));
    overflow: hidden;
    width: 12rem;
    height: 0;
    transition: .6s ease;
    border-radius: 0 0 8px 8px;
}

.movie-wrap:hover .wrap-card {
    height: 60%;
    display: block;
}

.image:hover, .description:hover {
    cursor: pointer;
}

.movie-card:hover .description {
    height: 60%;
}

.image-hover {
    transform: scale(1.08);
}

.movie-card {
    cursor: pointer;
}

.image-movie {
    transition: transform 0.8s ease;
}

.image .image-movie:hover {
    transform: scale(1.08);
}

.text-title, .text-genre, .text-fav, .bi {
    color: white;
    
}

.text-title, .text-genre {
    font-size: 14px;
}

.bi::before, .text-fav {
    vertical-align: middle;
}

.text-fav {
    font-size: 12px;
}
