#button-search {
    border-bottom: 1px solid #000;
    border-radius: 0;
}

#input-search {
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    font-size: 14px;
    padding: 5px 28px 0 5px;
}

#input-search:focus, #button-search {
    box-shadow: none !important;
}

#btn-sign {
    margin: 0 0 0 18px;
}

#ul-login {
    margin: 0 0 0 10px;
}

#signin {
    text-decoration: none;
    color: #fff;
}